@page "/"
@using System.Security.Principal
@using System.Linq.Expressions
@inherits IndexBase


<div class="minesweeper-main">
    <div class="head">
        <div class="flags-count">@*<div class="background-text">000</div>*@ @FlagsLeft</div>
        <div class="play-btn" @onclick="@OnPlayBtnPressed">@(IsGameLost ? ":(" : IsGameWin ? "^_^" : ":)") </div>
        <div class="clock">@*<div class="background-text">000</div>*@123</div>
    </div>
    <div class="field-grid cells-c@(GridSize)">
        @for (var i = 0; i < GridSize; i++)
        {
            for (int j = 0; j < GridSize; j++)
            {
                var iCur = i;
                var jCur = j;
                var curCell = GridValues[i][j];

                <button class="cell"
                        @onclick="@(IsGameLost || IsGameWin ? (ev) => { } : (ev) => OnCellLeftBtnClicked(ev, (iCur, jCur)))"
                        @oncontextmenu="@(IsGameLost || IsGameWin ? (ev) => { } : (ev) => OnCellRightBtnClicked(ev, (iCur, jCur)))"
                        @oncontextmenu:preventDefault="true">


                    <div class="cell-bottom @(curCell.IsOpened ? curCell.CssClass : "")
                                        @(curCell.IsOpened ? "opened" : "closed")
                                        @(curCell.IsChecked ? "flagged" : "")">
                        @(curCell.IsOpened ? curCell.Value : "")
                    </div>
                </button>
            }
        }
    </div>
</div>